@use '../theme/variables' as *;
@use '../theme/typography' as *;

.hero-section {
  padding: 40px 0;
}

.category-sidebar {
  background: $white;
  border: 1px solid $gray-300;
  border-radius: $radius-md;
  overflow: hidden;

  .category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 20px;

    border-bottom: 1px solid $gray-300;

    cursor: pointer;

    transition: $transition;

    &:hover {
      background: $gray-50;
      color: $primary-500;
    }
  }
}

.main-banner {
  height: 100%;
  background: #f3f5f7;

  border-radius: $radius-md;

  padding: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .banner-content {
    max-width: 300px;

    span {
      color: $secondary-500;
      font-size: $fs-14;
      font-weight: $fw-600;
    }

    h1 {
      font-size: 48px;
      margin: 16px 0;
      font-weight: $fw-700;
    }

    p {
      color: $gray-500;
      margin-bottom: 24px;
    }

    button {
      width: 160px;
      height: 50px;

      background: $primary-500;
      color: $white;

      border-radius: $radius-sm;
    }
  }

  .banner-image {
    img {
      width: 260px;
    }
  }
}

.side-banner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small-banner {
  padding: 24px;
  border-radius: $radius-md;

  &.dark {
    background: #191c1f;
    color: $white;
  }

  &.light {
    background: #f3f5f7;
  }

  span {
    color: #efd33d;
    font-size: $fs-12;
    font-weight: $fw-600;
  }

  h4 {
    margin: 14px 0;
    font-size: 24px;
  }

  p {
    color: $secondary-500;
    margin-bottom: 20px;
  }

  button {
    width: 140px;
    height: 46px;

    background: $primary-500;
    color: $white;

    border-radius: $radius-sm;
  }
}