@use '../theme/variables' as *;
@use '../theme/typography' as *;


.product-card {
  position: relative;

  height: 100%;

  border: 1px solid #e4e7e9;

  background: #fff;

  padding: 16px;

  transition: 0.3s ease;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  &:hover {
    .product-hover-actions {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* IMAGE */

.product-image {
  width: 100%;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 16px;

  img {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
  }
}

/* CONTENT */

.product-content {
  flex: 1;

  h6 {
    font-size: 14px;
    line-height: 22px;

    color: #191c1f;

    margin-bottom: 10px;

    min-height: 44px;
  }
}

/* PRICE */

.product-price {
  display: flex;
  align-items: center;

  gap: 8px;

  margin-top: auto;

  .old-price {
    color: #77878f;

    font-size: 14px;

    text-decoration: line-through;
  }

  .new-price {
    color: #2da5f3;

    font-size: 18px;
    font-weight: 600;
  }
}

/* BADGE */

.product-badge {
  position: absolute;

  top: 16px;
  left: 16px;

  z-index: 2;

  padding: 6px 10px;

  font-size: 12px;
  font-weight: 600;

  color: #fff;

  background: #ee5858;
}

/* HOVER ACTION */

.product-hover-actions {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;

  gap: 8px;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;

  button {
    width: 42px;
    height: 42px;

    border-radius: 50%;
    border: none;

    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    svg {
      font-size: 18px;
    }

    &:hover {
      background: #fa8232;
      color: #fff;
    }
  }
}